.FAQContainer {
    max-width: var(--default-container-width);
    margin: 0 auto;
}

.additionalHelpGrid {
    display: grid;
    gap: 1rem;
    padding: 1rem;
}

.additionalHelpGrid img {
    width: 5rem;
    margin-bottom: 1.5rem;
}

.additionalHelpGrid a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--ifm-color-primary-light);
    color: var(--dark-grey);
    padding: 1rem;
    transition: all 0.25s;
}

.additionalHelpGrid a:hover {
    text-decoration: none;
    background-color: var(--ifm-color-primary-lighter);
    color: var(--primary-grey);
}

@media(min-width: 640px) {
    .additionalHelpGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media(min-width: 960px) {
    .additionalHelpGrid {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .verification {
        grid-column: 2 / 3;
        grid-row: 1 / 3;
    }
    
    .identifyRisks {
        grid-column: 3 / 5;
    }
}