.faqContainer {
    margin: 5rem auto;
    padding: 1rem;
    max-width: var(--default-container-width);
}

.faqMenu {
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(5, 125px);
    grid-template-columns: repeat(auto-fit, 125px);
    grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
    list-style: none;
    padding: 0;
}

.faqMenuItem {
    color: var(--ifm-color-primary);
    border: 2px solid var(--ifm-color-primary);
    border-radius: 0.5rem;
    padding: 0.20rem 1.75rem;
    text-align: center;
    cursor: pointer;
}

.faqMenuItem:hover, li.faqMenuItemActive {
    background-color: var(--ifm-color-primary);
    color: var(--off-white);
}

.tabPanel {
    margin-top: 3rem;
}

.loading {
    max-width: var(--default-container-width);
    margin: 0 auto;
}