.resourcesGrid {
    display: grid;
    max-width: var(--default-container-width);
    margin: 0 auto;
    gap: 2rem;
    grid-template-columns: repeat(3, 325px);
    grid-template-columns: repeat(auto-fit, 325px);
    grid-template-columns: repeat(auto-fit, minmax(325px, 1fr));
}

.resourcesContainer {
    border: 1px solid var(--ifm-color-primary-lightest);
    border-radius: 1rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 4rem;
}

.resourcesHeader {
    background-color: var(--off-white);
    border-radius: 1rem 1rem 0 0;
}

.resourcesIMG {
    border-radius: 1rem 1rem 0 0;
    display: flex;
    justify-content: center;
    padding: 1rem 0;
}

.resourcesIMG > img {
    height: 12.5rem;
}

.resourcesTitle {
    display: block;
    text-align: center;
    font-size: 1.25rem;
    color: var(--primary-grey);
    font-weight: 600;
    padding: 0.5rem 0;
}

.resourcesContent{
    padding: 0.75rem 0;
}

.resourcesLinks {
    display: block;
    padding: 0.5rem 0;
    color: var(--dark-grey);  
}

.resourcesLinks:hover{    
    color: var(--ifm-color-primary);
    text-decoration: none;
}

.resourcesLinks span:first-child {
    padding: 1rem;
}

.resourcesLinks img {
    width: 1rem;
    height: 1rem;
}